<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

  <nav id="nav">
<ul>
<li class="hide-mobile">
<a href="/en/US/men/t/seasons/fw20">Shop
</a></li>
<li class="hide-tablet">
<a class="js-a-menu" href="#">Shop men</a>
{{!-- <ul>
<li>
<a href="/en/US/men/t/seasons/fw20">FW20</a>
</li>
</ul> --}}
</li>
<li class="hide-tablet">
<a class="js-a-menu" href="#">Shop women</a>
{{!-- <ul>
<li>
<a href="/en/US/women/t/seasons/fw20">FW20</a>
</li>
</ul> --}}
</li>
<li class="">
<a class="" href="/en/US/special-items" target="">special items</a>
</li>
<li class="">
<a class="" href="/en/US/info/about-us" target="">about</a>
</li>
<li class="active">
<a class="active" href="/en/US/press" target="">press</a>
</li>
<li class="">
<a class="" href="/en/US/info/stockists" target="">stockists</a>
</li>
<li class="">
<a class="" href="/en/US/info/uniform" target="">"uniform"</a>
</li>
<li class="">
<a class="" href="/en/US/media/video" target="">video</a>
</li>
<li class="">
<a class="" href="/en/US/info/shanghai" target="">stores</a>
{{!-- <ul class="submenu">
<li>
<a href="/en/US/info/macau" target="">Macau</a>
</li>
<li>
<a href="/en/US/info/hangzhou" target="">Hangzhou</a>
</li>
<li>
<a href="/en/US/info/shanghai" target="">Shanghai</a>
</li>
<li>
<a href="/en/US/info/xian" target="">Xi'an</a>
</li>
<li>
<a href="/en/US/info/hongkong" target="">Hong Kong</a>
</li>
</ul> --}}
</li>
<li>
<a class="cart-link js-cart-link" data-no-turbolink="" href="/en/US/cart">
<span class="label">CART</span>
<span class="tot-item">
(<span class="count js-cart-items-count">0</span>)
</span>
</a>
</li>
<li class="lateral">
<span class="js-account account" data-signed-in-html="&amp;lt;a class=&amp;#39;profile-link&amp;#39; href=&amp;#39;/en/US/account&amp;#39;&amp;gt;
&amp;lt;span class=&amp;#39;label&amp;#39;&amp;gt;My Account&amp;lt;/span&amp;gt;
&amp;lt;/a&amp;gt;
" data-signed-out-html="&amp;lt;a class=&amp;#39;login-link js-login&amp;#39; href=&amp;#39;/en/US/login&amp;#39; title=&amp;#39;Login&amp;#39;&amp;gt;
&amp;lt;span class=&amp;#39;label&amp;#39;&amp;gt;Login&amp;lt;/span&amp;gt;
&amp;lt;/a&amp;gt;
"><a class="login-link js-login" href="/en/US/login" title="Login">
<span class="label">Login</span>
</a>
</span>
</li>
<li class="lateral">
<a class="link_country" href="/en/US/countries?return_to=%2Fen%2FUS%2Fpress">COUNTRY:
<span>
United States
</span>
</a></li>
</ul>
</nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>