body {
  padding: 50px;
  font: 14px  Helvetica;
  background-image: url('https://cdn.heronpreston.com/custom_page_images/704/original_OFFICE_MAGAZINE_ISSUE_10.jpg?1559225905') ;
  background-size: 900px 1000px;
}
h1, h3{
  font-weight: bold !important;
  color: black !important;
}

a {
  color: white;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 50vw;
}
.card-photo{
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  margin: 15px;
}

.title{
  display: flex;
  justify-content: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.btn-primary {
  color: white;
  background-color: black!important;
  border-color: black !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 1; /* Firefox */
  font-weight: bold !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black !important;
 }
 
 ::-ms-input-placeholder { /* Microsoft Edge */
  color: black !important;
 }
 #nav{
   ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background: #f26228;
    width: 100vw;
    margin-left: -49px;
    padding-top: 15px;
  }
  li{
    display: inline;
    
  }
  a{
    display: flex;
    flex-direction: column-reverse;
    color: #002cff;
    
  }
}

